.card-players{
    width: 30vw;
    height: 60vh;
}

    #card-phil-taylor{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Images/players/phil-taylor.jpeg);
    }

    #card-van-barneveld{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Images/players/raymond-van-barneveld.jpeg);
    }

    #card-van-gerwen{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Images/players/micheal-van-gerwen.jpeg);
    }

    #card-peter-wright{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Images/players/peter-wright.jpeg);
    }

    #card-gary-anderson{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Images/players/gary-anderson.jpeg);
    }