form{
    flex-direction: column;
}

    form .controls{
        border: none;
        border-radius: 5px;
    }

    form #input-message-field{
        background-color: #ffffff;
    }

    #input-message-field{
        width: 100%;
    }

    #post-message-button{
        width: max-content;
    }

/*****Message Board Styling*****/
#message-board{
    height: 150px;
    border-radius: 5px;
    overflow-y: auto;
    margin: 10px 10px;
}

    #message-board::after{
        content: "Posted Messages Will Show Here";
        color: initial;
    } 