#rules-content-container .card-rules{
    min-width: 50vw;
    height: 50vh;
}

    #objective-card{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Images/rules/objective-card-background.jpeg);
    }

    #equipment-card{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Images/rules/equipment-card-background.jpeg);
    }

    #scoring-card{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Images/rules/scoring-card-background.jpeg);
    }

    #format-card{
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/Images/rules/format-card-background.jpeg);
    }

    #faqs-card{
        background-color: #111111;
    }